version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: oops
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: oops
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    command:
      [
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_unicode_ci",
        "--init-connect=SET NAMES utf8mb4"
      ]
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend

  redis:
    image: redis:latest
    container_name: oops_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

    networks:
      - backend

volumes:
  mysql_data:
  redis_data:

networks:
  backend:
    driver: bridge

